---
# BASICS
title: 			"f/8 Photography Workshops"
hero: 			'<span class="phrase"><span class="f">f</span>/8 Photography</span> Workshops'
tagline: 		"Photography workshops in the world's most stunning locations"
heroImage: 		/assets/img/petra-x3.jpg


#LAYOUT
pageClass: 		"homepage"
layout: 		default
---


<section id="workshops-upcoming" class="group workshops-group upcoming-group">
<header class="decorative">
	<h1>Upcoming Workshops</h1>
</header>
	{% if site.categories.upcoming == null %}
	
	<article class="no-upcoming-workshops">
		<p>No workshops coming up at the moment!</p>
		{% include mailchimp.html %}
	</article>
	
	{% else %}
	{% for post in site.categories.upcoming %}
    {% if post.url %}
    
		{% include post_summary.html %}
		
    {% endif %}
	{% endfor %}
	{% endif %}
</section>


{% if site.categories.previous %}
<section id="workshops-previous" class="group workshops-group previous-group">
<header class="decorative">
	<h1>Previous Workshops</h1>
</header>
	{% for post in site.categories.previous %}
    {% if post.url %}
        {% include post_summary.html %}
    {% endif %}
  {% endfor %}
</section>
{% endif %}