//! Footer
#footer {
	background-color: rgb(40,40,40);
	color: rgba(255,255,255,0.9);
	font-size: 0.8em;
	text-align: center;
}


#footer h3 {
	font-size: 1.3em;
}


#footer .footer-groups {
	margin: 0 auto 4em;
	max-width: 66em;
}


#footer .footer-group {
	margin-bottom: 2em;
	text-align: left;
}




@media screen and (min-width: 40em) {
	
	#footer .footer-group {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 5%;
		vertical-align: top;
		width: 22%;
	}
	
	#footer .footer-group:first-of-type {
		margin-right: 10%;
		width: 40%;
	}

	#footer .footer-group:last-of-type {
		margin-left: -4px;
		margin-right: 0;
	}
}


#footer ul,
#footer ol {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}


#footer .legal {
	font-size: 0.9em;
	margin-bottom: 0;
	max-width: 34em;
}