<div id="billetto" class="billetto">
	<header>
		<h1>Book your ticket!</h1>
		<p>Payment is secure and handled with care by <a href="https://billetto.co.uk/en/events/{{ page.billetto }}?utm_source={{ site.url }}{{ page.url }}&utm_medium=referral&utm_campaign=billetto_widget">Billetto</a> <span class="booking-tandc">(Please read <a href="{{ page.tandc }}">our Terms &amp; Conditions</a> before booking).</span></p>
	</header>

	<div class="has-js">
	<!-- Billeto embed code -->
	<iframe allowtransparency="true" data-event-id="{{ page.billetto }}" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="true" src="javascript:void(0)" vspace="0" width="100%" height="128" id="billetto_tickets_widget_embed_{{ page.billetto }}"></iframe>
	<div class="js-event-widget-powered-by" style="overflow: hidden!important;margin-top: 5px!important;margin-bottom: 5px!important">
	<a href="https://billetto.co.uk/l/sell-tickets-online" style="line-height: 18px!important;font-size: 10px!important;important;color: #666!important;" target="_blank">
	<img alt="Billetto" height="18" src="https://billetto.co.uk/assets/logos/logo_text_dark.fallback-350e125405834fe34514eea6ccb6daaa0d6e09e970c5ad87142344e9b7b5769c.png" style="float: right!important;line-height: 18px!important;height: 18px!important;width: 60px!important;margin-left: 5px!important;display: block!important;outline: none!important;border : 0!important;" width="60">
	<span style="float: right!important;font-family: sans-serif!important;">Powered by</span>
	</a>
	</div>
	<script>document.getElementById("billetto_tickets_widget_embed_{{ page.billetto }}").src = "https://billetto.co.uk/en/events/{{ page.billetto }}/widget/?utm_source=" + encodeURIComponent(window.location.href) + "&utm_medium=referral&utm_campaign=billetto_widget"</script>
	<!-- Billeto embed code -->
	</div>
	
	<p class="no-js ticket-info">Please go to <a href="https://billetto.co.uk/en/events/{{ page.billetto }}?utm_source={{ site.url }}{{ page.url }}&utm_medium=referral&utm_campaign=billetto_widget_noscript">our event page on Billetto</a> to purchase your ticket.</p>
	
</div>