<section id="booking" class="group">

{% if page.soldout or page.ended or page.date <= site.time %}
{% include mailchimp.html %}
{% else %}
{% if page.getinvited %}
{% include getinvited.html %}
{% elsif page.tilt %}
{% include tilt.html %}
{% elsif page.billetto %}
{% include billetto.html %}
{% elsif page.formspree %}
{% include formspree.html %}
{% else %}
{% include tito.html %}
{% endif %}
<p class="buttons"><a class="call-to-action" href="mailto:{{ page.contactemail }}">Questions about tickets?</a></p>
{% endif %}

</section>