<footer class="group" id="footer" role="contentinfo">
	<div class="footer-groups">
		
		<article class="footer-group footer-about">
			<h3>About Us</h3>
			<p><span><em class="f">f</em>/8 Photo Expeditions</span> is led by a number of experienced travel &amp; landscape photographers, who have taught around the world. The expeditions are organised by <a href="http://www.zoetimmers.com">Zoë Timmers</a>, a professional photographer who has spent over 15 years as a television producer.</p>
		</article>
		
		<article class="footer-group footer-workshops footer-upcoming">
			<h3>Upcoming Workshops</h3>
			<ul>
				{% for post in site.categories.upcoming %}
				{% if post.url %}{% if post.published == true and post.secret != true %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endif %}{% endif %}
				{% endfor %}
				
				{% if site.categories.upcoming == null %}
				  <li>
				  	<!--Stay tuned, as we are always working on new workshops!-->
				  	<p>Coming soon in 2018: <b>Scotland</b>.</p>
				  	
				  	<p>Stay tuned, as we are always working on new workshops! <a href="http://f8workshops.us9.list-manage1.com/subscribe?u=927bff84c15d99b7107706fa6&id=54785e661e" target="_blank">Join our mailing list</a> and be the first to know!</p>
				  
				  	<div class="footer-mailchimp">
				  	<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
					<div id="mc_embed_signup">
					<form action="https://f8workshops.us9.list-manage.com/subscribe/post?u=927bff84c15d99b7107706fa6&amp;id=54785e661e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">	
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_927bff84c15d99b7107706fa6_54785e661e" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					    <input type="hidden" value="ALL" name="WORKSHOP" id="mce-WORKSHOP">
						<input type="hidden" value="FOOTER" name="SITE" id="mce-SITE">
					</form>
					</div>
					<!--End mc_embed_signup-->
				  	</div>
				  
				  </li>
				{% endif %}
			</ul>
		</article>
		
		<article class="footer-group footer-workshops footer-previous">
			<h3>Past Workshops</h3>
			<ul>
				{% for post in site.categories.previous %}
				{% if post.url %}{% if post.published == true and post.secret != true %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endif %}{% endif %}
				{% endfor %}
			</ul>
		</article>
		
	</div>


	<p class="legal measured"><small>Copyright &copy; 2014&ndash;{{ site.time | date: '%Y' }} f/8 Photography Workshops.</small> Hosted by <a href="https://github.com">Github</a>, with fonts by <a href="http://typekit.com/">Typekit</a>. {% if page.tandc %}<a href="{{ page.tandc }}" download>Terms &amp; Conditions</a>. {% endif %}<a href="#top">Back to top</a>.</p>
</footer>