<footer class="group" id="footer" role="contentinfo">
	<div class="footer-groups">
		
		<article class="footer-group footer-about">
			<h3>About Us</h3>
			<p><span><em class="f">f</em>/8 Photo Expeditions</span> is taught by <a href="http://gregannandale.com">Greg Annandale</a>, <a href="https://thefella.com">Conor MacNeill</a> and <a href="http://danrubin.is">Dan Rubin</a> and produced by <a href="http://www.zoetimmers.com">Zoë Timmers</a>.</p>
		</article>
		
		<article class="footer-group footer-workshops footer-upcoming">
			<h3>Upcoming Workshops</h3>
			<ul>
				{% for post in site.categories.upcoming %}
				{% if post.url %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endif %}
				{% endfor %}
			</ul>
		</article>
		
		<article class="footer-group footer-workshops footer-previous">
			<h3>Past Workshops</h3>
			<ul>
				{% for post in site.categories.previous %}
				{% if post.url %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endif %}
				{% endfor %}
			</ul>
		</article>
		
	</div>


	<p class="legal measured"><small>&copy; Copyright {{ site.time | date: '%Y' }} Greg Annandale, Conor MacNeill, Dan Rubin &amp; Zoë Timmers.</small> Hosted by <a href="https://github.com">Github</a>, with fonts by <a href="http://typekit.com/">Typekit</a>. {% if page.tandc %}<a href="{{ page.tandc }}" download>Terms &amp; Conditions</a>. {% endif %}<a href="#top">Back to top</a>.</p>
</footer>