<div id="formspree" class="formspree">
	<header>
		{% if page.tba %}
			<h1>More Information</h1>
			<p>If you're interested in attending or want more information, feel free to let us know and we'll get back to you!</p>
		{% else %}
			<h1>Get Tickets!</h1>
			<p>Payment is secure and handled via Paypal. <span class="booking-tandc">(Read <a href="{{ page.tandc }}" download>our Terms &amp; Conditions</a>  before booking)</p>
		{% endif %}
	</header>


	<div id="formsent">

		<form class="form contact-form" action="https://formspree.io/{{ page.contactemail }}" method="POST">	
			
			{% if page.tba == false %}
			<p>
				<label for="number-of-people">Number of people:</label> 
				<select id="number-of-people" name="number-of-people" class="number">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</p>
			{% endif %}
			
			<p>
				<label for="fullname">Full name:</label><br>
		    	<input type="text" id="fullname" name="fullname" placeholder="Your full name" required>
			</p>
		    
		    <p>
			    <label for="email">Email address:</label><br>
		    	<input type="email" id="email" name="_replyto" placeholder="Your email address" required>
		    </p>
		    
		    {% if page.tba %}
		    <p>
			    <label for="message">Message:</label><br>
			    <textarea id="message" name="message" rows="7" placeholder="Your message"></textarea>
		    </p>
		    {% endif %}
		    
		    <p class="submit-button">
		    	<button type="submit">Send Now</button>
		    </p>
		    
		    <div class="hidden-form">
			    <input type="hidden" name="_subject" value="Ticket Request">
			    <input type="hidden" name="_next" value="{{ site.url }}{{ page.url }}#formsent">
			    <input type="hidden" name="_cc" value="f8_contact_form@thefella.com">
			    <input type="text" name="_gotcha" style="display:none">
			    <input type="hidden" name="page_url" value="{{ site.url }}{{ page.url }}">
		    </div>
		</form>
		
		<div class="form-response">
			<div class="success">
				<p>Your message has been sent!</p>
			</div>
		</div>
	
	</div>

</div>