<div id="getinvited" class="getinvited">
	<header>
		<h1>Book your ticket!</h1>
		<p>Payment is secure and handled with care by <a href="https://getinvited.to/f8/{{ page.getinvited }}/">Get Invited</a> <span class="booking-tandc">(Please read <a href="{{ page.tandc }}">our Terms &amp; Conditions</a> before booking).</span></p>
	</header>

	<script src="https://getinvited.to/js/f8/{{ page.getinvited }}/" id="script-f8-{{ page.getinvited }}" async></script>
	
	<p class="no-js ticket-info">Please go to <a href="https://getinvited.to/f8/{{ page.getinvited }}/">our event page on Get Invited</a> to purchase your ticket.</p>
</div>