<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - f/8 Photography Workshops</title>
<link rel="author" href="https://plus.google.com/+ConorMacNeill">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="320">

<!-- Styles -->
<link rel="stylesheet" href="/assets/font/symbolset/ss-social-circle-standard.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/lib/animate.min.css">
<link rel="stylesheet" href="/assets/css/f8.css">
{% if page.css %}<link rel="stylesheet" href="/assets/css/{{ page.css }}.css">{% endif %}
{% if page.tito %}<link rel="stylesheet" href="https://css.tito.io/v1">{% endif %}

<!-- Typekit -->
<script src="https://use.typekit.net/{% if page.typekit %}{{ page.typekit }}{% else %}{{ site.typekit }}{% endif %}.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- Mobile 
<meta name="apple-mobile-web-app-title" content="{% if page.appTitle %}{{ page.appTitle }}{% else %}{{ site.appTitle }}{% endif %}">
<meta name="application-name" content="{% if page.appTitle %}{{ page.appTitle }}{% else %}{{ site.appTitle }}{% endif %}">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="favicon-msapplication-tileimage.png">
<link rel="shortcut icon" type="image/ico" href="favicon.ico">-->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/mobile/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/mobile/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/mobile/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/mobile/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/mobile/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/mobile/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/mobile/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/mobile/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/mobile/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/assets/img/mobile/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/img/mobile/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/assets/img/mobile/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/img/mobile/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/img/mobile/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/assets/img/mobile/manifest.json">
<link rel="mask-icon" href="/assets/img/mobile/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/mobile/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/assets/img/mobile/mstile-144x144.png">
<meta name="msapplication-config" content="/assets/img/mobile/browserconfig.xml">
<meta name="theme-color" content="#000000">
</head>