<section id="schedule" class="group photo-group schedule-group listful" style="background-image:url('{{ include.image }}');" markdown="1">
<header>
<h1>{{ include.title }} 
	
	{% if page.tba %}
		<span class="byline">Dates to be announced {% if include.byline %}&mdash; {{ include.byline }}{% endif %}</span>
	{% else %}
		<span class="byline">{{ page.date | date: '%A %e' }} to {{ page.endDate | date: '%A %e' }} {{ page.date | date: '%B' }}, {{ page.date | date: '%Y' }} {% if include.byline %}&mdash; {{ include.byline }}{% endif %}</span>
	{% endif %}
</h1>

<p class="price">{{ include.price }}</p>
{% if include.bonus %}<p class="bonus" markdown="1">{{ include.bonus }}</p>{% endif %}
</header>

{% for day in include.schedule %}
<article markdown="1">

### {{ day.name }}

{::nomarkdown}
<img src="/assets/img/{{ day.image }}" alt="" />
{:/}

{{ day.summary }}

{% for item in day.items %}
* {{ item }} {% endfor %}

</article>
{% endfor %}

<p class="book"><a class="call-to-action" href="#booking">{% if page.soldout or page.ended %}Sign up for our mailing list!{% else %}What are you waiting for? <span class="phrase">Book now! &raquo;</span>{% endif %}</a></p>
</section>