<section id="teachers" class="group teachers-group">
	<header class="decorative">
		<h1>Who We Are</h1>
		<p>The people behind the cameras. The people behind the adventures.</p>
	</header>
	{% assign ids = include.ids | split: ',' %}
	<ul class="display leaders {{ ids | size }}-section">
		{% for teacher_id in ids %}
		{% assign teacher = site.data.teachers.[teacher_id] %}
		<li id="teacher-{{ teacher_id }}" class="vcard wow fadeIn"{% if forloop.index >1 %} data-wow-delay="0.{{ forloop.index | minus:1 }}s"{% endif %}>
			<img class="photo" src="/assets/img/people/{{ teacher.photo }}.jpg" alt="Photo of {{ teacher.name }}">
			<h2 class="fn">{{ teacher.name }}</h2>
			<p class="title">{{ teacher.bio }}</p>
			<p class="social">
				{% if teacher.site %}<a href="{{ teacher.site }}" class="url ss-icon ss-social-circle" title="Website for {{ teacher.name }} - {{ teacher.site }}">Link</a>{% endif %}
				{% if teacher.instagram %}<a href="https://instagram.com/{{ teacher.instagram }}" class="ss-icon ss-social-circle" title="Instagram">Instagram</a>{% endif %}
				{% if teacher.flickr %}<a href="https://www.flickr.com/photos/{{ teacher.flickr }}" class="ss-icon ss-social-circle" title="Flickr">Flickr</a>{% endif %}
				{% if teacher.linkedin %}<a href="https://www.linkedin.com/in/{{ teacher.linkedin }}" class="ss-icon ss-social-circle" title="Linkedin">Linkedin</a>{% endif %}
				{% if teacher.twitter %}<a href="https://twitter.com/{{ teacher.twitter }}" class="ss-icon ss-social-circle" title="Twitter">Twitter</a>{% endif %}
			</p>
		</li>
		{% endfor %}
	</ul>
</section>
