<div id="tilt" class="tilt">
	<header>
		<h1>Book your ticket!</h1>
		<p>Payment is secure and handled with care by <a href="https://www.tilt.com/tilts/{{ page.tilt }}">Tilt</a> <span class="booking-tandc">(Please read <a href="{{ page.tandc }}" download>our Terms &amp; Conditions</a> before booking).</span></p>
	</header>

	<div class="has-js">
	<!-- Tilt embed code -->
	<iframe height="334" width="228" border="0" frameborder="0" src="https://www.tilt.com/tilts/{{ page.tilt }}/iframe_widget_v2?large"></iframe>
	<!-- Tilt embed code -->
	</div>
	
	<p class="no-js ticket-info">Please go to <a href="https://www.tilt.com/tilts/{{ page.tilt }}">our event page on Tilt</a> to purchase your ticket.</p>
	
</div>
