<section id="vfi" class="group">
<article class="measured">
<header>
<p>We have been partnering with <a href="http://www.visitfaroeislands.com" target="_blank">Visit Faroe Islands</a> for several years now, which allows us to access all the local people and knowledge we need, and keeps us in the know about all the best spots to visit.
</p>
{% comment %}<p>For more information on this stunning archipelago visit:</p>{% endcomment %}
</header>
<a href="http://www.visitfaroeislands.com" target="_blank"><img class="vfi-logo" src="/assets/img/faroes/vfi-logo.jpg" alt="Visit Faroe Island's Logo" /></a>
</article>
</section>
