---
layout: default
---
{% if page.secondaryNav %}
<nav id="secondary-nav" class="nav secondary-nav">
<ul role="menubar" id="secondary-menu" class="menu secondary-menu">
	{% for nav_item in page.secondaryNav %}
    <li role="menuitem" class="{{ nav_item | slugify }}"><a href="#{{ nav_item | slugify }}">{{ nav_item }}</a></li>{% endfor %}	
	<li role="menuitem" class="booking"><a class="call-to-action phrase" href="#booking">Book <span class="small-screen-hide">now!</span> &raquo;</a></li>
</ul>
</nav>
{% endif %}


<section id="workshop-hero" class="group photo-group hero hero-{{ page.hero | slugify }}" style="background-image:url('{{ page.heroImage }}');"{% if page.heroSlides %} data-slideshow="{{ page.heroSlides }}"{% endif %}>
	<header role="banner" class="vevent">
		<h1 class="summary"><span class="host"><em class="f">f</em>/8 Photo Expeditions:</span> {{ page.hero }}</h1>
		<p class="tagline">{{ page.tagline }}</p>
		<p class="dates">{{ page.date | date: '%B' }} <time datetime="{{ page.date | date: "%Y-%m-%d" }}" class="dtstart">{{ page.date | date: '%-d' }}</time>&#8211;<time datetime="{{ page.endDate | date: "%Y-%m-%d" }}" class="dtend">{{ page.endDate | date: '%-d' }}</time>, {{ page.date | date: '%Y' }}</p>
		<p class="location">{{ page.location }}</p>
	</header>

	{% if page.sponsor %}
	<div class="sponsored">
		<p>Sponsored by {{ page.sponsor }}</p>
		{% if page.sponsorImage %}<img src="{{ page.sponsorImage }}" alt="Logo: {{ page.sponsor }}">{% endif %}
	</div>{% endif %}	
	
	{% if page.seller %}<p class="seller">{{ page.seller }}</p>{% endif %}
	<p class="cta"><a class="call-to-action phrase" href="#booking">
		{% if page.date <= site.time %} 
			Join our mailing list <br><span class="mailing-list-teaser">Be the first to hear about the next f8 workshop!</span>
		{% else %}
			{% if page.soldout %}Sold out! <br>Join our mailing list{% elsif page.ended %}Registration over. <br>Join our mailing list instead!{% else %}Reserve your place! &raquo;{% endif %}
		{% endif %}
		</a></p>
</section>


{{ content }}


{% include booking.html %}